<div class="card">
  <div *ngIf="isSignIn" class="favourite"
    [ngClass]="tour.isFavorite == true ? 'selected' : 'non-selected'" (click)="addToFavourite()"  
    placement="bottom">
      &#x2665;
  </div>
  <div [routerLink]="['/tour', tour.id]">
      <img [src]="imageUrl" class="card-img-top">
      <div class="card-body">
        <h5 *ngIf="tour.title" class="card-title">{{tour.title}}</h5>
        <p  *ngIf="description" class="card-text">
          {{description}}
        </p>
      </div>
  </div>
</div>