<app-modal-window title="Sign Up">
    <div class="modal-body">
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"
                formControlName = "userName"
                placeholder="name">
            </div>
            </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Phone number</label>
            <div class="col-sm-8">
            <input type="tel" class="form-control"
            formControlName = "userPhone"
            [textMask]="{mask: phoneMask}"
            placeholder="XXX XXX XX XX">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
            <input type="text" class="form-control"
            formControlName = "userEmail"
            placeholder="email@example.com">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" 
            formControlName = "password"
            type="password"
            placeholder="password">
            </div>
        </div>

        <div class="alert alert-danger"
            *ngIf="!isValid()">
                Form is invalid:
            <ul>
            <li *ngIf="!isFieldValid('userName')">
                Name is required
            </li>

            <li *ngIf="!isFieldValid('userPhone')">
                Phone number is required
            </li>

            <li *ngIf="!isFieldValid('userEmail')">
                Email isn't correct
            </li>

            <li *ngIf="!isFieldValid('password')">
                Password must contain at least one number, one uppercase,
                and lowercase letter, and at least 8
            </li>
            </ul>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Send</button>
        </div>      
        </form>
    </div>
</app-modal-window>