.modal-open {
    padding-right: 0px !important;
    overflow-y:scroll;
}

.modal-content{
    animation: 0.5s slidein ease-out; 
  }
  
  @keyframes slidein {
    from{ margin-top: -30px; }
    to{ margin-top: 0px; }
  }

.bs-datepicker {
  margin-top: 3px;
}