<ng-progress id='progress-bar'></ng-progress>
<section id="footer">
  <div class="container text">
    <div class="row">
      <div class="col-md-5 part">
          <h4 [routerLink]="['/']" class="text-style"><img src="/assets/images/logo.png" height="40px" width="40px"/>LOGO</h4>
          There’s something exciting about exploring a new place every year. 
          It can be a new country, a new city, or an interesting spot near your hometown.
      </div>

      <div class="col-md-3 part">
          <h4 class="text-style">CONTACT <span class="text-highlighted">with</span> US</h4>
          <p><i class="fa fa-phone-square"></i> +38 (057) 123 45 67</p>
          <p><i class="fa fa-envelope"></i> ingo@travel.com</p>
          <p></p>
      </div>

      <div class="col-md-4 part">
        <h5 class="text-style">NEWSLETTER</h5>
        <form [formGroup]="subscribeForm" (ngSubmit)="subscribe()">
          <div class="input-group">            
            <input type="text" class="form-control email" formControlName = "email" 
                placeholder="Your email">
            <div class="input-group-append">
              <button type="submit" class="btn btn-info button">
                Send
              </button>
            </div>
          </div>
        </form>  
      </div>
    </div>
  </div>
</section>
