<header class="menu fixed-top" id="menu">
  <div class="row justify-content-between">
    <div class="nav logo">
      <h4 [routerLink]="['/']"><img src="/assets/images/logo.png" height="40px" width="40px"/>
        LOGO
      </h4>
    </div>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" (click)="ScrollToOffsetOnly('header')" placement="bottom" ngbTooltip="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="ScrollToOffsetOnly('tours')" placement="bottom" ngbTooltip="Tours">Tours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="ScrollToOffsetOnly('recommend')" placement="bottom" ngbTooltip="Recommendations">Recommend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngx-scroll-to]="'#footer'" placement="bottom" ngbTooltip="Contacts">Contacts</a>
        </li>
        <li class="nav-item" *ngIf="!isSignIn">
            <a class="nav-link" placement="bottom" ngbTooltip="Sign Up" (click)="openSignUpComponent()">
              Sign Up
            </a>
        </li>
        <li class="nav-item" *ngIf="!isSignIn">
            <a class="nav-link" placement="bottom" ngbTooltip="Sign In" (click)="openSignInComponent()">
              Sign In
            </a>
        </li>

        <li class="nav-item menuDropdown" *ngIf="isSignIn" dropdown>
          <a id="button-basic" class="nav-link dropdown-toggle" placement="bottom-right" dropdownToggle 
              aria-controls="dropdown-basic">
            Hi, {{accountName}}
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" 
              role="menu" aria-labelledby="button-basic">
            <li class="menuitem" role="menuitem"><a class="dropdown-item" (click)="openEditComponent()">Edit Profile</a></li>
            <li class="menuitem" role="menuitem"><a class="dropdown-item" (click)="openWishList()">Wish list</a></li>
            <div class="dropdown-divider"></div>
            <li class="menuitem" role="menuitem"><a class="dropdown-item" (click)="signOut()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
  </div>
</header>