<header class="menu fixed-top" id="menu">
  <div class="row justify-content-between">
    <div class="nav logo">
      <h4 [routerLink]="['/']"><img src="/assets/images/logo.png" height="40px" width="40px"/>
        LOGO
      </h4>
    </div>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" placement="bottom" ngbTooltip="Home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" placement="bottom" ngbTooltip="Tours">Tours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" placement="bottom" ngbTooltip="Recommendations">Recommend</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" placement="bottom" ngbTooltip="Sign In" (click)="openSignInComponent()">Sign In</a>
        </li>
      </ul>
  </div>
  
</header>
