<aside>
  <p class="title">Where?</p>
  <div>
      <div class="form-group" ngbDropdown autoClose="outside">
        <label><b>Place</b></label>
        <input type="text" class="form-control" placeholder="where?"
          [(ngModel)]="selectedCountryString"
          [typeahead]="countries"
          typeaheadOptionField="name"
          (typeaheadOnSelect)="onSelect($event)">
      </div>

      <div class="form-group">
        <label><b>Arrival date</b></label>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" bsDatepicker
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', containerClass: 'theme-turquoise' }"
          [minDate]="minDate"
          [(ngModel)]="arrivalDate"
          (bsValueChange)="onArrivalValueChange($event)">
      </div>
      <div class="form-group">
        <label><b>Departure date</b></label>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" bsDatepicker
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY', containerClass: 'theme-turquoise' }"
          [minDate]="arrivalDate"
          [(ngModel)]="departureDate"
          (bsValueChange)="onDepartureValueChange($event)">
      </div>
      <div class="row form-group">
        <div class="col-md-6">
            <label><b>Adult</b></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-info" (click)="removeAdult()">-</button>
              </div>
              <input type="text" [(ngModel)]="adult" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-info" (click)="addAdult()">+</button>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Children</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-info" (click)="removeChildren()">-</button>
              </div>
              <input type="text" [(ngModel)]="children" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-info" (click)="addChildren()">+</button>
              </div>
            </div>
        </div>
      </div>
      <div class="form-group">
        <label><b>Price</b></label>
        <div class="row ">
          <div class="col-sm-5">
            <div class="input-group">
              <input type="text" [(ngModel)]="minPrice" class="form-control"/>
              <div class="input-group-append">
                <span class="input-group-text">$</span>
              </div>
            </div>
          </div>          
          <div class="col-sm-1 align-self-center">
            to
          </div>
          <div class="col-sm-5">
            <div class="input-group">
              <input type="text" [(ngModel)]="maxPrice" class="form-control"/>
              <div class="input-group-append">
                <span class="input-group-text">$</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" (click)="searchTours()" class="btn btn-info btn-block">Search</button>
      </div>
  </div>
</aside>
