<div class="row" id="tours">
  <div class="col-md-3">
      <app-filters></app-filters>
  </div>
  <div class="col-md-9 tours">
      Sets a cookie with the specified name and value. 
      It is good practice to specify a path. 
      If you are unsure about the path value, use '/'. 
      If no path or domain is explicitly defined, the current location is assumed.
      Important: For security reasons, it is not possible to define cookies for other domains.
       Browsers do not allow this. Read this and this StackOverflow answer for a 
       more in-depth explanation.
  </div>
</div>
