<div class="row" id = "tours">
  <div class="col-lg-3">
      <div class="filters" id = "filters">
        <app-filters></app-filters>
      </div>
  </div>
  <div class="col-lg-9">
     <div class="row tours">
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>  
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>  
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>      
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>  
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>  
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>  
        <div class="col-lg-4">
          <app-tour-card 
            [imageUrl] = "imageUrl"
            [description] = "description">
          </app-tour-card>
        </div>  
        
     </div>
  </div>
</div>
