<app-modal-window title="Sign In">
    <div class="modal-body">
      <form [formGroup]="signInForm">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Phone</label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
              formControlName = "phone"
              placeholder="phone">
            </div>
          </div>
    
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control"
            formControlName = "password"
            placeholder="password">
          </div>
        </div>
  
        <div class="alert alert-danger" *ngIf="isLoginError">
          Incorrect phone number or password!
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
          <button type="button" class="btn btn-success"  (click)="openSignUpComponent()">Sign up</button>
          <button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid">Login</button>
        </div>
      </form>
    </div>  
  </app-modal-window>
  