.header-app {
    background-image: url('/assets/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
 
.fast-search{
  padding-top: 150px;
  padding-bottom: 100px;
}

.title{
  color: white;
  text-align: center;
}

.text-highlighted{
  font-family: Satisfy;
}

.text-style{
  font-family: Thasadith;
}

.search {
  width: 125px;
}

.row{
  margin-right: 0px;
}

.guest{
  background-image: url("/assets/images/svg/person.svg");
}

.location {
  background-image: url("/assets/images/svg/point.svg");
}

.calendare {
  background-image: url("/assets/images/svg/_calendare.svg");
}

.position-img{
  background-position: 98% 50%;
  background-repeat: no-repeat;
}