.header-app {
    background-image: url('/assets/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
 
.col-lg-3, .col-lg-2, .col-lg-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 0rem !important;
}

.row {
  margin-left: 0px !important;
}

.form-control {
  border-radius: 0rem; 
}

.btn {
  border-radius: 0rem; 
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.fast-search {
  padding-top: 150px;
  padding-bottom: 100px;
}

.title {
  color: white;
  text-align: center;
}

.text-highlighted {
  font-family: Satisfy;
}

.text-style{
  font-family: Thasadith;
}

.row {
  margin-right: 0px;
}

.guest {
  background-color: white;
  background-image: url("/assets/images/svg/person.svg");
}

.location {
  background-image: url("/assets/images/svg/point.svg");
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}

.calendare {
  background-image: url("/assets/images/svg/_calendare.svg");
  background-color: white;
}

.position-img {
  background-position: 98% 50%;
  background-repeat: no-repeat;
}

.btn-guest {
  border-radius: 50%;
  margin: 4px 2px;
}

.dropdown-menu {
  background-color: #121921;
  opacity: .8;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 5px;
}

.guest-control{
  display: flex;
}

.guest-label {
  flex: 1;
  font-weight: 500;
  line-height: 25px;
  padding-right: 10px;
  padding-top: 10px;
}

.btn-guest {
  width: 40px;
  height: 40px;
}

.guest-count {
  width: 30px;
  text-align: center;
  padding-top: 10px;
}

#dropdownGuests {
  color: rgb(104, 102, 102);
  text-align: left;
}

.dropdown-toggle::after {
  display:none
}