.row {
    background-image: linear-gradient(#ffffff, #AFEEEE);
  }
  
  .logo {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 65px;
  }
  
  .profile-icon {
    height: 55px;
    cursor: pointer;
    padding-top: 5px;
  }
  
  .nav {
    padding-top: 10px;
  }
  
  .ngbDropdown {
    z-index: 1000;
  }
  
  .login {
    padding-top: 10px; 
  }