<div class="header-app" id="header">  
  <app-menu class="menu"></app-menu>

  <div class="row">
    <div class="container fast-search">
      <div class="row">
        <div class="col-md-6 offset-md-3 title">
            <h1 class="text-style">LET's <span class="text-highlighted">go</span> ANYWHERE</h1>
        </div>          
      </div>
      
      <div class="row">
        <div class="col-md-10 offset-md-1 title">
          <div class="input-group">
            <input type="text" class="form-control position-img location" placeholder="Country"
                [ngbTypeahead]="searchCountries" (focus)="focus$.next($event.target.value)"
                (click)="click$.next($event.target.value)" #instance="ngbTypeahead">

            <input type="text" class="form-control position-img calendare" 
                placeholder="dd/mm/yyyy" bsDaterangepicker
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-turquoise' }"
                [(ngModel)]="bsRangeValue"
                [minDate]="minDate"
                (bsValueChange)="onValueChange($event)"/>

            <input type="text" class="form-control guest position-img" placement="bottom" 
                placeholder="Guests">

            <div class="input-group-append">
              <button class="btn btn-info search" type="button" (click)="ScrollToComponent('tours')">Search</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

